{% extends 'core/panel.html' %}
{% load widget_tweaks %}

{% block title %}Asociación{% endblock %}

{% block content-panel %}
    <div class="row mt-5">
        <div class="col-6">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="mb-3">
                        {% if field.name == 'consultorio' %}
                            {{ field|attr:"hidden:True" }}
                        {% else %}
                            <label for="id_codigo" class="form-label">{{ field.label }}</label>
                            {% if field.errors %}
                                {{ field|add_class:"form-control is-invalid" }}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex flex-row gap-2">
                    <a href="{% url 'consultorio-list' %}" class="btn flex-fill btn-secondary">Cancelar</a>
                    <button type="submit" class="flex-fill d-flex gap-2 flex-row justify-content-center align-items-center btn btn-primary text-whit">
                        <i class="las la-lg la-save"></i>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <div class="table-section">
                <table class="table table-bordered table-sm table-fixed">
                    <thead>
                    <tr class="text-center border-bottom">
                        <th>Doctor</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for asociacion in asociaciones %}
                        <tr class="text-center">
                            <td>{{ asociacion.doctor.persona.nombres }} {{ asociacion.doctor.persona.apellidos }}</td>
                            <td>{{ asociacion.hora_inicio }}</td>
                            <td>{{ asociacion.hora_fin }}</td>
                            <td>
                                <a href="{% url 'asociacion-delete' asociacion.pk %}" class="btn btn-danger btn-sm" title="Eliminar">
                                    <i class="las la-lg la-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}