{% extends 'core/panel.html' %}
{% load widget_tweaks %}

{% block title %}{% if object %}Editar{% else %}Nuevo{% endif %} consultorio{% endblock %}

{% block content-panel %}
    <div class="row py-2 px-4">
        <div class="card col-5 mx-auto">
            <div class="card-body">
                <div class="card-title">
                    <h3>{% if object %}Editar{% else %}Nuevo{% endif %} Consultorio</h3>
                </div>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="id_codigo" class="form-label">{{ field.label }}</label>
                            {% if field.errors %}
                                {{ field|add_class:"form-control is-invalid" }}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row gap-2">
                        {% if object %}
                            <a href="{% url 'consultorio-delete' object.pk %}"
                               class="btn flex-fill btn-danger">Eliminar</a>
                        {% endif %}
                        <a href="{% url 'consultorio-list' %}" class="btn flex-fill btn-secondary">Cancelar</a>
                        <button type="submit" class="btn flex-fill btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}