{% extends 'core/panel.html' %}
{% load widget_tweaks %}

{% block title %}{% if object %}Editar{% else %}Nueva{% endif %}  reserva{% endblock %}

{% block content-panel %}
    <div class="row py-2 px-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Detalle</h5>
                    <p class="card-text">
                        Doctor: Diego
                        Cod. Interno: MED-1
                    </p>
                </div>
            </div>
        </div>
{#        <div class="card col-5 mx-auto">#}
{#            <div class="card-body">#}
{#                <div class="card-title">#}
{#                    <h3>{% if object %}Editar{% else %}Nueva{% endif %} Reserva</h3>#}
{#                </div>#}
{#                <form action="." method="POST">#}
{#                    {% csrf_token %}#}
{#                    {{ form.non_field_errors }}#}
{#                    {% for field in form %}#}
{#                        <div class="mb-3">#}
{#                            {% if field.name == 'paciente' %}#}
{#                                {{ field|attr:"hidden:True" }}#}
{#                            {% else %}#}
{#                                {% if field.errors %}#}
{#                                    <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>#}
{#                                    {{ field|add_class:"form-control is-invalid" }}#}
{#                                    {% for error in field.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                {% else %}#}
{#                                    {% if field.name == 'activo' %}#}
{#                                        {{ field|add_class:"form-check-input" }}#}
{#                                        <label for="id_{{ field.name }}"#}
{#                                               class="form-check-label">{{ field.label }}</label>#}
{#                                    {% else %}#}
{#                                        <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>#}
{#                                        {{ field|add_class:"form-control" }}#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                    <div class="d-flex flex-row gap-2">#}
{#                        {% if object %}#}
{#                            <a href="#"#}
{#                               class="btn flex-fill btn-danger">Eliminar</a>#}
{#                        {% endif %}#}
{#                        <a href="{% url 'reserva-list' %}" class="btn flex-fill btn-secondary">Cancelar</a>#}
{#                        <button type="submit" class="btn flex-fill btn-primary">Guardar</button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}