{% extends 'core/panel.html' %}
{% load widget_tweaks %}

{% block title %}{% if object %}Editar{% else %}Nueva{% endif %}  reserva{% endblock %}

{% block content-panel %}
    <div class="row py-2 px-4">
        <div class="col-6 mx-auto">
            <h4 class="mb-3">Registrar Reserva</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form class="d-flex flex-row gap-2 flex-fill mb-3" action="." method="GET">
                <select title="Seleccione una especialidad" name="especialidad" id="id_especialidad" class="form-control" required>
                    <option value="">-----------</option>
                    {% for especialidad in especialidades %}
                        <option value="{{ especialidad.pk }}">{{ especialidad.nombre }}</option>
                    {% endfor %}
                </select>
                <select title="Seleccione un doctor" name="doctor" id="id_doctor" class="form-control">
                    <option value="">-----------</option>
                    {% for doctor in doctores %}
                        <option value="{{ doctor.pk }}">{{ doctor.persona.nombres }} {{ doctor.persona.apellidos }}</option>
                    {% endfor %}
                </select>
                <input title="Ingrese una fecha" type="date" name="fecha" class="form-control" value="{{ request.GET.fecha }}" required/>
                <button class="btn btn-success" type="submit" title="Buscar">
                    <i class="las la-lg la-search"></i>
                </button>
            </form>
            <div class="card p-3">
                <div class="d-flex flex-row justify-content-end align-items-center gap-2 mb-2">
                    <div class="fw-bold">Asiganción:</div>
                    <div id="id_cupo_asignado" class="badge bg-primary"></div>
                </div>
                <div class="flex-fill d-flex flex-row gap-2 mb-3 overflow-auto" style="max-height: 450px">
                    {% for cupo in cupos %}
                        <div class="flex-fill d-flex flex-column gap-2">
                            <h5>Truno: {{ cupo.turno }}</h5>
                            {% for cupo in cupo.cupos %}
                                <div class="d-flex flex-column">
                                    {% if cupo.active %}
                                        <button type="button" id="{{ cupo.id }}" class="p-3 btn btn-success"
                                                onclick="onClickCupo('{{ cupo.nombre }}', '{{ cupo.value }}')">
                                            {{ cupo.nombre }}: <span class="">{{ cupo.value }}</span>
                                        </button>
                                    {% else %}
                                        <button type="button" id="{{ cupo.id }}" class="p-3 btn btn-danger" disabled>
                                            {{ cupo.nombre }} : {{ cupo.value }}
                                        </button>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <form action="." method="POST">{% csrf_token %}
                    {{ form.paciente|attr:"hidden:True" }}
                    {{ form.doctor|attr:"hidden:True" }}
                    {{ form.fecha_reserva|attr:"hidden:True" }}
                    {{ form.hora_reserva|attr:"hidden:True" }}
                    <div class="d-flex flex-row gap-2">
                        <a href="{% url 'paciente-list' %}"
                           class="d-flex gap-2 justify-content-center align-items-center flex-fill btn btn-secondary">
                            <i class="las la-lg la-undo"></i>
                            Cancelar
                        </a>
                        <button class="d-flex gap-2 justify-content-center align-items-center flex-fill btn btn-primary">
                            <i class="las la-lg la-save"></i>
                            Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js-extra %}
    <script>
        document.getElementById('id_especialidad').value = '{{ request.GET.especialidad }}'
        document.getElementById('id_doctor').value = '{{ request.GET.doctor }}'

        function onClickCupo(cupo, value) {
            document.getElementById('id_hora_reserva').value = value
            document.getElementById('id_cupo_asignado').innerText = cupo
        }
    </script>
{% endblock %}


